
.order_detail_top{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: #FFFFFF;
}
.order_detail_top .item{
    width: 100%;
    height: 90px;
    /*border-top: solid 1px #D0D0D0;*/
}
.order_detail_top .item:last-child{
    border-bottom: solid 1px #D0D0D0;
}
.order_detail_top .item .left{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 160px;
    height: 40px;
    border-right: solid 1px #D0D0D0;
    text-align: center;
    float: left;
}
.order_detail_top .item .left img{
    margin: 0 auto;
    margin-top: 5px;
    float: left;
    margin-left: 38px;
}
.order_detail_top .item .left span{
    margin-top: 13px;
    float: left;
    margin-left: 5px;
    color: #A19F9F;
}
.order_detail_top .item .right{
    /*float: right;*/
    margin-top: 8px;
    margin-bottom: 8px;
}
.order_detail_top .item .right .order_money{
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    display: inline-block;
    font-size: 22px;
    color: red;
}
.order_detail_top .item .right .order_re{
    float: right;
}
.order_detail_top .item .right .order_re span{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    color: #949494;
}
.user_ads{
    width: 1000px;
    height: 146px;
    margin: 0 auto;
    border-bottom: solid 1px #D0D0D0;
    background-color: #FFFFFF;
}
.user_ads .detail{
    height: 100px;
    margin-left: 35px;
}
.user_ads .detail img{
    width: 100px;
    height: 100px;
    margin-top: 23px;
    float: left;
}
.user_ads .detail .ziliao{
    margin-top: 23px;
    margin-left: 10px;
    float: left;
}
.user_ads .detail .ziliao p{
    padding-bottom: 10px;
    color: #949494;
}
.user_ads .detail .ziliao p:first-child{
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
}
.user_ads .detail .fuwu{
    margin-top: 65px;
    margin-left: 30px;
    float: left;
}
.user_ads .detail .fuwu p{
    padding-bottom: 10px;
    color: #949494;
}
.user_ads .detail .pingfen{
    margin-top: 65px;
    margin-left: 30px;
    float: left;
}
.user_ads .detail .pingfen p{
    padding-bottom: 10px;
    color: #949494;
}
.order_detail_content{
    width: 1000px;
    height: 470px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.order_detail_content .left{
    float: left;
    margin-left: 35px;
    width: 53px;
    height: 324px;
    margin-right: 10px;
    margin-top: 30px;
}
.order_detail_content .left img{
    width: 100%;
    height: 100%;
}
.order_detail_content .right{
    width: 564px;
    height: 385px;
    margin-top: 30px;
    float: left;
}
.order_detail_content .right span{
    color: #969595;
}
.order_detail_content .right .jindu1{
    width: 260px;
    height: 85px;
    /*border: solid 1px #6F6C6C;*/
    border-radius: 10px;
    background-color: #F0EDED;
    position: relative;
    color: #666666;
}
.order_detail_content .right .jindu1 span:first-child{
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 3px;

}
.order_detail_content .right .jindu1 span:last-child{
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 3px;
}
.order_detail_content .right .jindu2{
    width: 564px;
    height: 147px;
    /*border: solid 1px #6F6C6C;*/
    border-radius: 10px;
    background-color: #F0EDED;
    position: relative;
    color: #666666;
    margin-top: 30px;
}
.order_detail_content .right .jindu2 span:first-child{
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 3px;

}
.order_detail_content .right .jindu2 span:last-child{
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 3px;
}

.order_detail_content .right .jindu2 ul li img{
    width: 100%;
    height: 100%;
}
.order_detail_content .right .jindu3{
    width: 260px;
    height: 85px;
    /*border: solid 1px #6F6C6C;*/
    border-radius: 10px;
    background-color: #F0EDED;
    position: relative;
    color: #666666;
    margin-top: 26px;
}
.order_detail_content .right .jindu3 span:first-child{
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 3px;

}
.order_detail_content .right .jindu3 span:last-child{
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 3px;
}
.order_detail_content .list {
    padding: 20px 60px 20px 60px;
}
.order_detail_content .item {
    border-left: 1px solid #c6c6c6;
    padding: 3px 0 15px 30px;
    position: relative;
}
.order_detail_content .item .bd {
    border: 1px solid #ddd;
    background: #efefef;
    border-radius: 5px;
    padding: 12px 10px;
    display: inline-block;
}
.order_detail_content .item:first-child:after {
    background: url(../../assets/img/express_ok_icon.png);
    background-size: cover;
}
.order_detail_content .item:after {
    content: "";
    background: url(../../assets/img/express_no_icon.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -15px;
    top: -1px;
}
.order_detail_content .item .bd p {
    text-align: right;
    padding-top: 10px;
    color: #999;
    margin-left: 200px;
    float: right;
}
.order_detail_content .item .bd div span {
    float: left;
    width: 33.33%;
    padding-right: 10px;
}
.order_detail_content .item:last-child {
    border-left: none;
}

.order_detail_content .item .bd ul{
    /*position: absolute;*/
    /*height: 60px;*/
    top: 39px;
    /*left: 5px;*/
}
.order_detail_content .item .bd ul li{
    float: left;
    /*width: 60px;*/
    /*height: 60px;*/
    margin-right: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shouhuomessage{
    width: 1000px;
    height: 170px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-bottom: solid 1px #D0D0D0;
}
.shouhuomessage p{
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shouhuomessage  a {
    display: block;
    padding: 5px 34px;
    color: #999;
    vertical-align: middle;
    font-size: 16px;
    font-size: 16px;
}
.shouhuomessage  a img {
    padding-right: 10px;
    vertical-align: middle;
}
.huolist{
    width: 1000px;
    height: 170px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-bottom: solid 1px #D0D0D0;
}
.huolist .item{
    width: 444px;
    height: 60px;
    margin-top: 20px;
    float: left;
    margin-left: 36px;
}
.huolist .item span{
    display: block;
    width: 60px;
    height: 60px;
    border: solid 1px #D0D0D0;
    text-align: center;
    float: left;
}
.huolist .item span img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.huolist .item .content{
    float: left;
    margin-left: 10px;
}
.huolist .item .content p:last-child{
    margin-top: 25px;
    color: #A9A8A8;
}
.beizhu{
    width: 1000px;
    height: 140px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-bottom: solid 1px #D0D0D0;
}
.beizhu p{
    margin-top: 20px;
    font-size: 18px;
    float: left;
    margin-left: 35px;
    width: 100%;
}
.beizhu span{
    float: left;
    margin-left: 35px;
    margin-top: 10px;
    display: block;
    background: #FCFCFC;
    padding: 15px;
    color: #8B8B8B;
}
.shouhuomessage .left,.shouhuomessage .right{
    width: 50%;
    float: left;
}
.shouhuomessage img{
    width: 24px;
    height: 24px;
}
.shouhuomessage a{
    cursor: default;
}
/*订单中心-start*/
.order_center_tab{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.order_center_tab ul{
    padding: 0 ;
    width: 100%;
    height: 100%;
}
.order_center_tab ul li{
    float: left;
    width: 199px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    background-color: #E7E7E7;
    border-right: solid 1px #D0D0D0;
}
.order_center_tab_active{
    background-color: white !important;
}
.order_center_search{
    width: 380px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.order_center_search input:first-child{
    height: 38px;
    width: 280px;
    float: left;
    padding-left: 10px;
    border: solid 1px #D2D2D2;
    border-top-left-radius: 20px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
}
.order_center_search input:last-child{
    height: 42px;
    width: 80px;
    /* border: 0; */
    /* margin-left: -4px; */
    float: left;
    padding-left: -8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(227,0,15,1);
    font-size: 17px;
    cursor: pointer;
    color: white;
    border: solid 1px rgba(227,0,15,1);
    /* line-height: 35px; */
}
.order_center_content{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: #FFFFFF;
}
.order_center_content .item{
    width: 100%;
    height: 80px;
    border-top: solid 1px #D0D0D0;
}
.order_center_content .item:last-child{
    border-bottom: solid 1px #D0D0D0;
}
.order_center_content .item .left{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 170px;
    height: 60px;
    border-right: solid 1px #D0D0D0;
    text-align: center;
    float: left;
    font-size: 14px;
}

.order_center_content .item .left img{
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 10px;
}
.order_center_content .item .right{
    /*float: right;*/
    margin-top: 8px;
    margin-bottom: 8px;
}
.order_center_content .item .right .order_ads_span{
    float: left;
    margin-left: 35px;
    color: #666666;
    display: inline-block;
}
.order_center_content .item .right .order_ads_span p{
    padding-top: 6px;
    padding-bottom: 10px;
}
.order_center_content .item .right .order_status{
    float: right;
    display: inline-block;
    margin-right: 35px;
    margin-top: 20px;
}
.order_center_content .item .right .order_status span{
    display: inline-block;
    padding: 7px 10px;
    border: solid 1px #666666;
    border-radius: 6px;
    color: #666666;
    padding-right: 10px;
    cursor: pointer;
}
.order_center_content .item .right .order_status span:last-child{
    margin-left: 30px;
}
.order_status_red{
    color: red;
}
.change_order_price{
    width: 500px;
    height: 200px;
    overflow: hidden;
    background-color: white;
}
.change_order_price .price_list  a{
    padding: 9px 25px;
    display: inline-block;
    float: left;
    border: solid 1px #C3C3C3;
    margin: 10px;
}
.change_order_price .price_list{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}
.change_order_price .change_submit{
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    overflow: hidden;
}
.change_order_price .change_submit a{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;;
    line-height: 40px;;
    border-radius: 40px;
}
.commodity {
    background-color: #fff;
    border-radius: 6px;
    position: fixed;
    width: 800px;
    margin-left: -400px;
    left: 50%;
    height: 300px;
    top: 50%;
    margin-top: -260px;
    display: none;
}
.commodityed {
    width: 500px;
    margin-left: -250px;
    height: 300px;
    margin-top: -282px;
}
.commodityed .titled {
    padding: 0 30px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    position: relative;
}

.form .form-list {
    margin-bottom: 15px;
}
.commodityed .titled .close {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.share {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    display: none;
}
.add_price_active{
    border: solid 1px red !important;
    background-color: red !important;
    color: white !important;
}