/*交易记录页面-start*/
.trade_record_dh{
    background: url(../../assets/img/user_center_biao.png) no-repeat 0px 0px;
}
.trade_record_content{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: #FFFFFF;
}
.trade_record_content .item{
    width: 100%;
    height: 75px;
    border-top: solid 1px #D0D0D0;
}
.trade_record_content .item:last-child{
    border-bottom: solid 1px #D0D0D0;
}
.trade_record_content .item .left{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 140px;
    height: 59px;
    border-right: solid 1px #D0D0D0;
    text-align: center;
    float: left;
}
.trade_record_content .item .left img{
    margin: 0 auto;
    margin-top: 10px;
}
.trade_record_content .item .right{
    /*float: right;*/
    margin-top: 8px;
    margin-bottom: 8px;
}
.trade_record_content .item .right .time{
    float: left;
    margin-left: 35px;
    margin-top: 25px;
    display: inline-block;
}
.trade_record_content .item .right .money{
    float: right;
    display: inline-block;
    margin-right: 35px;
    margin-top: 25px;
}
.trade_record_content .item .right .money b{
    color: red;
}
/*交易记录页面-end*/

/*常见问题页面-start*/
.question_content{
    width: 1000px;
    margin: 0 auto;
    height: 510px;
    background-color: #FFFFFF;
}
.question_content .left{
    width: 220px;
    height: 465px;
    border-right: solid 1px #CFC9C9;
    margin-top: 10px;
    float: left;
}
.question_content .left ul {
    width: 180px;
    margin-left: 14px;
    height: 100%;
    display: block;
}
.question_content .left ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #BEBEBE;
    border-bottom: 0;
}
.question_content .left ul li a {
    width: 100%;
    height: 100%;
    display: block;
}
.question_content .left ul li:last-child {
    border-bottom: solid 1px #BEBEBE;
}
.question_content .left ul li:first-child {
    background-color: #E4E4E4;
}
.question_content .right{
    margin-top: 10px;
    width: 750px;
    float: left;
    margin-left: 20px;
}
.question_content .right p{
    padding: 10px;
    color: #666666;

}
/*常见问题页面-end*/


/*服务协议页面-start*/
.agreement_content{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}
.agreement_content p{
    padding-left: 30px;
    padding-right: 85px;
}
.agreement_content .title{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    /*font-weight: 600;*/
    color: #1a1a1a;

}
.agreement_content .content{
    padding-bottom: 20px;
    font-size: 16px;
    color: #989898;
}
/*服务协议页面-end*/

/*APP介绍页面-start*/
.app_content{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(24, 21, 21, 0.4);
    background-image: url("../../assets/img/app_bg.png");
}
.app_content .title{
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 45px;
}
.app_content .title span{
    display: inline-block;
    padding: 10px;
    background-color: #d0312a;
    border-radius: 10px;
    color: #f3d5d5;
}
 .app_download{
     /*width: 50%;*/
     height: 155px;
     float: left;
     text-align: center;
     margin-left: 200px;
}
.app_content  .app_download:last-child{

    margin-left: 50px;
}
 .app_download .yonghu_img{
     background-color: rgba(24, 21, 21, 0.4);
     float: left;
     width: 280px;
     margin-bottom: 5px;
}
.app_download .yonghu_div{
    width: 280px;
    height: 118px;
}
.app_download:last-child{
    /*margin-left: 45px;*/
}
.top_qrcode{
    width: 118px;
    height: 118px;
    float: left;
}
.down_btn{
    width: 140px;
    height: 40px;
    float: left;
    margin-top: 16px;
    margin-left: 22px;
}
.down_btn img{

}
/*APP介绍页面-end*/

/*用户反馈-start*/
.feedback_content{
    width: 1000px;
    height: 460px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}
.feedback_content textarea{
    width: 600px;
    height: 265px;
    margin: 0 auto;
    border: solid 1px #DDD2D2;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 16px;
    padding-left: 10px;
}
.feedback_content  .submit {
    margin: 0 auto;
    width: 265px;
    height: 70px;
    text-align: center;
    border-radius: 55px;
    border: solid 1px rgba(223, 221, 221, 0.85);
}
.feedback_content  .submit a {
    margin: 0 auto;
    margin-top: 7px;
    display: block;
    border-radius: 55px;
    width: 241px;
    color: white;
    font-size: 20px;
    line-height: 55px;
    background-color: rgba(255,90,103,1);
    height: 55px;
}
/*用户反馈-end*/

/*选择支付-start*/
.pay_content{
    width: 1000px;
    height: 360px;
    margin: 0 auto;
    background-color: white;
}
.pay_top{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: #EDEDED;
}
.pay_top .item{
    width: 100%;
    height: 90px;
    /*border-top: solid 1px #D0D0D0;*/
}
.pay_top .item:last-child{
    border-bottom: solid 1px #D0D0D0;
}
.pay_top .item .left{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 160px;
    height: 60px;
    border-right: solid 1px #D0D0D0;
    text-align: center;
    float: left;
    text-align: center;
}
.pay_top .item .left img{
    margin: 0 auto;
    margin-top: 5px;
   text-align: center;
}
.pay_top .item .left p{
    text-align: center;
    color: #A19F9F;
    font-size: 14px;
    margin-top: 5px;
}
.pay_top .item .right{
    /*float: right;*/
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    height: 100%;
}
.pay_top .item .right .order_money{
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    display: inline-block;
    font-size: 22px;
    color: red;
}
.pay_top .item .right .ads{
    float: left;
    margin-left: 30px;
}
.pay_top .item .right .ads span{
    width: 100%;
    text-align: left;
    padding-top: 15px;
    display: inline-block;
    color: #949494;
}
.pay_top .item .right .price{
    float: right;
    height: 60px;
    margin-top: 15px;
    margin-left: 30px;
    border-left: solid 1px #D0D0D0;
    padding-left: 30px;
    padding-right: 10px;
}
.pay_top .item .right .price span{
    display: inline-block;
}
.pay_top .item .right .price span{
    float: right;
    font-size: 14px;
    color: #6F6767;
}
.pay_top .item .right .price span:first-child{
    float: left;
    font-size: 13px;
    color: #666666;
}

.pay_top .item .right .price b{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-size: 21px;
    color: red;
    font-weight: 100;
}
.pay_content input[type="radio"] {
    margin: 3px 3px 0px 5px;
    display: none;
}
.pay_radio_label {
    padding-left: 20px;
    cursor: pointer;
    background: url(../../assets/img/pay_no_select_icon.png) no-repeat ;
    background-position: 0;
    float: right;
    width: 25px;
    height: 25px;

}
.pay_radio_label.checked {
    background: url(../../assets/img/pay_select_icon.png) no-repeat;
    /* background-position: left bottom; */
    width: 25px;
    height: 25px;
    background-position: 0;
}
.pay_content .pay_list{
    width: 600px;
    /*margin: 0 auto;*/
    /* margin-top: 30px; */
    /*padding-top: 30px;*/
    /*border: solid 1px #8B8B8B;*/
    overflow: hidden;
}
.pay_content .pay_list .item{
    /*width: 100%;*/
    height: 80px;
    border: solid 1px #D2CACA;
}
.pay_content .pay_list .item:first-child{
    border-bottom: 0;
    margin-top: 50px;
}
.pay_content .pay_list .item img{
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.pay_content .pay_list .item .tips{
    display: inline-block;
    margin-top: 16px;
}
.pay_content .pay_list .item .select_radio{
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    width: 190px;
}
.pay_content .pay_list .item .pay_yue{
    font-size: 18px;
    padding-right: 10px;
}
.pay_content .pay_list .item .pay_yue b{
    color: red;
}
.pay_content  .submit {
    margin: 0 auto;
    margin-top: 50px;
    width: 265px;
    height: 70px;
    text-align: center;
    border-radius: 55px;
    border: solid 1px rgba(223, 221, 221, 0.85);
}
.pay_content  .submit a {
    margin: 0 auto;
    margin-top: 7px;
    display: block;
    border-radius: 55px;
    width: 241px;
    color: white;
    font-size: 20px;
    line-height: 55px;
    background-color: rgba(255,90,103,1);
    height: 55px;
}
/*选择支付-end*/


/*行业新闻-start*/
.news_content{
    width: 1000px;
    background-color: white;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.news_content ul{
    float: left;
    margin-bottom: 20px;
}
.news_content ul li{
    float: left;
    width: 435px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}
.news_content ul li img{
    width: 103px;
    height: 100px;
    float: left;
    vertical-align: middle;
}
.news_content ul li .right{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    width: 310px;
}
.news_content ul li .right .date{
    float: right;
    color: #8D8D8D;
    margin-left: 10px;
}
.news_content ul li .right .tag{
    margin-top: 10px;
    color: #8D8D8D;
    height: 30px;
}
.news_content ul li .right .tag img{
    width: 48px;
    height: 24px;
    margin-top: 4px;

}
.news_content ul li .right .tag span{
    float: left;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
}
.news_content ul li .right .detail{
    margin-top: 6px;
    color: #8D8D8D;
    font-size: 14px;
}
/*行业新闻-end*/

/*新闻详情页面-start*/
.news_detail_content{
    width: 1000px;
    background-color: white;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.news_detail_content .top{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    overflow: hidden;
}
.news_detail_content .top h1{
    margin-bottom: 20px;
    margin-top: 30px;
}
.news_detail_content .top .keywords{
    margin-bottom: 50px;
    height: 30px;
}
.news_detail_content .top .keywords span:first-child{
    color: red;
    line-height: 30px;
    font-size: 18px;
    float: left;
}
.news_detail_content .top .keywords .tag{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 30px;
}
.news_detail_content .top .keywords .date{
    float: right;
    line-height: 30px;
}
.news_detail_content .content{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    overflow: hidden;
    padding-bottom: 30px;
    font-size: 14px;
}
.news_detail_content .content p{
    text-align: left;
    padding-bottom: 10px;
}
.news_detail_content .content img{
    width: 100%;
}
/*新闻详情页面-end*/

/*师傅风采-start*/

.shifu_content{
    width: 1000px;
    background-color: white;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.shifu_content ul{
    float: left;
    margin-bottom: 20px;
}
.shifu_content ul li{
    float: left;
    width: 305px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
}
.shifu_content ul li >img{
    width: 100px;
    height: 100px;
    float: left;
    vertical-align: middle;
}
.shifu_content ul li .right{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    width: 185px;
}
.shifu_content ul li .right img{
    width: 60px;
    height: 25px;
    margin-left: 10px;
    vertical-align: bottom;
}
/*.shifu_content ul li .right .date{*/
    /*float: right;*/
    /*color: #8D8D8D;*/
    /*margin-left: 10px;*/
/*}*/
.shifu_content ul li .right .tag{
    margin-top: 5px;
    color: #8D8D8D;
    height: 1px;
    width: 30px;
    border-bottom: solid 1px;
}
.shifu_content ul li .right .mobile{
    margin-top: 5px;
    font-size: 13px;
    color: #777777;
}
.shifu_content ul li .right .detail{
    margin-top: 3px;
    color: #8D8D8D;
    font-size: 14px;
}
.shifu_content .more{
    margin-top: 20px;
    width: 960px;
    border-top: solid 1px rgb(208, 208, 208);
    height: 30px;
    float: left;
    margin: 0 auto;
    margin-left: 20px;
    text-align: center;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}
.shifu_content .more p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #C5C5C5;
}
.shifu_content .more img{
    vertical-align: middle;
    margin-right: 5px;
}
.shifu_content .search {
    padding: 20px 0;
    width: 400px;
    margin: auto;
    font-size: 0;
}
.shifu_content .search .search-text {
    border: 1px solid #ddd;
    width: 260px;
    height: 40px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-right: 0;
    padding-left: 20px;
}
.shifu_content .search .search-btn {
    width: 100px;
    height: 42px;
    background-color: #d0312a;
    color: #fff;
    text-align: center;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #d0312a;
}
/*师傅风采-end*/

/*师傅详情-start*/
.shifu_detail_content{
    width: 1000px;
    background-color: white;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.shifu_detail_content .left{
    float: left;
    width: 650px;
    /*height: 500px;*/
    background-color: white;
}
.shifu_detail_content .left .top{
    width: 600px;
    height: 40px;
    margin-left: 30px;
    margin-top: 25px;
    border-bottom: solid 1px #8B8B8B;
}
.shifu_detail_content .left .top img{
    vertical-align: bottom;
}
.shifu_detail_content .left .top span{
    font-size: 16px;
    margin-left: 10px;
}
.shifu_detail_content .left .top span b{
    color: red;
}
.shifu_detail_content .left .top a{
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: red;
    color: white;
    float: right;
    margin-left: 20px;
}
.shifu_detail_content .left .middle{
    width: 555px;
    /*height: 300px;*/
    margin: 0 auto;
}
.shifu_detail_content .left .middle ul li{
    margin-top: 20px;
    border-bottom: solid 1px #6F6C6C;
}
.shifu_detail_content .left .middle ul li:last-child{
    border-bottom: 0;
}
.shifu_detail_content .left .middle ul li .p1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.shifu_detail_content .left .middle ul li .p1 img{
    /*vertical-align: text-top;*/
}
.shifu_detail_content .left .middle ul li .p1 .date{
    float: right;
}
.shifu_detail_content .left .middle ul li .p2{
    margin-bottom: 15px;
    font-size: 14px;
    color: #8D8D8D;
}
.shifu_detail_content .left .bottom{
    width: 555px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.shifu_detail_content .left .bottom .pagecount{
    width: auto;
}
.shifu_detail_content .right{
    width: 350px;
    /*height: 200px;*/
    float: left;
    background-color: rgba(255,255,234,1);
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.shifu_detail_content .right table{
    margin: 0 auto;
    width: 260px;
    margin-top: 20px;
}
.shifu_detail_content .right table tr .td1{
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 10px;
    width: 75px;
}
.shifu_detail_content .right table tr .td2{
    text-align: left;
    font-size: 14px;
    padding-top: 8px;
}
/*师傅详情-end*/

/*商家申请-start*/
.apply_content{
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    background-color: white;
}
.apply_content img{
    width: 100%;
}
.apply_content p{
    padding: 30px;
}
.apply_content .apply_btn {
    width: 270px;
    height: 68px;
    /* line-height: 88px; */
    margin: 15px auto;
    padding: 10px;
    border-radius: 60px;
    border: 1px solid #ddd;
    text-align: center;
}
.apply_content .apply_btn a {
    display: block;
    background-color: #f64444;
    text-align: center;
    height: 66px;
    border-radius: 33px;
    line-height: 66px;
    color: #fff;
    font-size: 16px;
}
.commodity {
    background-color: #fff;
    border-radius: 6px;
    position: fixed;
    width: 800px;
    margin-left: -400px;
    left: 50%;
    height: 520px;
    top: 50%;
    margin-top: -260px;
    display: none;
}
.commodityed {
    width: 500px;
    margin-left: -250px;
    height: 564px;
    margin-top: -282px;
}
.commodityed .titled {
    padding: 0 30px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    position: relative;
}

.commodityed .form {
    padding: 18px;
    font-size: 14px;
}
.form .form-list {
    margin-bottom: 15px;
}
.commodityed .titled .close {
    position: absolute;
    right: 30px;
}
.commodityed .form label {
    display: inline-block;
    width: 70px;
}
.commodityed .form input {
    height: 38px;
    padding-left: 5px;
    border: 1px solid #ddd;
    width: 300px;
}
.commodityed .form select {
    width: 178px;
    height: 38px;
    padding-left: 5px;
    border: 1px solid #ddd;
}
.commodity .btn {
    display: block;
    margin: 20px auto;
    background-color: #f64444;
    color: #fff;
    text-align: center;
    width: 240px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 16px;
}
.commodityed .form .file {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid #ddd;
    line-height: 54px;
    font-size: 30px;
    color: #ddd;
}
.form .file .comfile {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.share {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    display: none;
}
/*商家申请-end*/


/*注册*/
.formcon{
    padding: 60px 0;
    background-color: #fff;
}
.formcon .formbd{
    width: 420px;
    margin: auto;
}
.formbd .form-list{
    border: 1px solid #ccc;
    height: 48px;
    margin-bottom: 20px;
}
.formbd .form-list .td{
    float: left;
    height: 48px;
}
.formbd .form-list .imgname{
    width: 60px;
    text-align: center;
    background-color: #ccc;
    line-height: 48px;
}
.formbd .form-list .formbd-text{
    border: 0;
    background-color: #fff;
    padding: 0 10px;
    width: 338px;
    height: 46px;
    line-height: 46px;
    color: #a9a9a9;
    font-size: 16px;
}
.formbd .form-listed{
    border: 0;
}
.formbd .form-listed > .tr{
    float: left;
}
.formbd .form-listed > .trfirst{
    border: 1px solid #ccc;
    width: 290px;
}
.form-listed > .trfirst > div{
    float: left;
}
.formbd .form-list .formbd-code{
    width: 208px;
}
.formbd .form-listed .formbd-codebtn{
    width: 120px;
    margin-left: 8px;
    background-color: #d0312a;
    border: 0;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
}
.formbd .form-listag{
    border: 0;
    font-size: 16px;
    line-height: 48px;
    color: #333;
}
.formbd .form-listag .round{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #d0312a;
    text-align: center;
    display: inline-block;
    padding: 1.5px;
    float: left;
    margin-top: 13px;
    margin-right: 10px;
}
.formbd .form-listag .round > span{
    background-color: #d0312a;
    height: 17px;
    width: 17px;
    display: inline-block;
    border-radius: 50%;
    float: left;
}
.formbd .formbd-btn{
    width: 100%;
    background-color: #d0312a;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    border: 0;
}
/*注册*/

/*关于我们*/
.aboutus .head-img{
    height: 260px;
}
.aboutus .head-img img{
    width: 100%;
    height: 260px;
}
.aboutus .newscon{
    padding: 40px 70px;
    background-color: #fff;
    color: #666;
    font-size: 14px;
}
.aboutus .newscon .wz{
    margin-bottom: 10px;
}
.newscon .footul li{
    float: left;
    border: 1px solid #A9A9A9;
    height: 116px;
    width: 205px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.newscon .footul li:nth-of-type(4n){
    margin-right: 0;
}
.newscon .footul li img{
    height: 116px;
    width: 205px;
}
/*关于我们*/
.container {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}