body{
    /*width: 1000px;*/
    height: auto;
    margin: 0 auto;
    font: 13px/1.5 "方正兰亭黑",arial,Microsoft YaHei, \5b8b\4f53;
    background-color:#f5f5f5;
}
h1, h2, h3, h4, h5, h6, article, section, div, p {
    margin: 0;
    padding: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    cursor: pointer;
    color: rgba(160,160,160,1);
    text-decoration: none;
}
a:link{
    color: #1a1a1a;
}
a:hover{
    color:#1a1a1a;
}
a:focus{
    color: #1a1a1a;
}
.head{
    width: 100%;
    border-top: 0;
    height: 100px;
    background-color: #F5F5F5;
}
.header{
    border: solid 1px rgba(233, 233, 233, 1);
    background-color: #fafafa;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}
.header .logo{
    float: left;
    width: 175px;
    margin-top: 25px;
    border-right: solid 1px  rgba(233, 233, 233, 1);
}
.header .logo img{
    padding-left: 45px;;
}
.tabbar{
    float: left;
    /*width: 824px;*/
    margin-top: 15px;
    height:auto;
}
.tab_list{
    float: left;
    height: 100%;
    padding: 0;
    margin-left: 25px;
    padding-top: 15px;
}
.tab_list li{
    float: left;
    width: 88px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.tab_list li a{
    text-decoration: none;
    font-size: 15px;
    font-family: "宋体", Tahoma, serif;
}
.foot{
    width: 100%;
    background-color: #ee4b4b;
    height: 100px;
    margin-top: 35px;
}
.wrap{
    width: 100%;
    height: auto;
}
.footer{
    width: 750px;
    margin: 0 auto;
}
.footer ul{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    padding-top: 30px;;
}

.footer ul li{
    float: left;
    width: 149px;
    color: #ffffff;
}
.footer ul li a{
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
}
.copyRight{
    margin: 0 auto;
    padding-top: 35px;;
}
.copyRight p{
    text-align: center;
    color: #ffffff;
}

.isLogin_ul{
    width: 205px;
    margin-left: 14px;
    height: 100%;
    display: block;;
}
.isLogin_ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.isLogin_ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #BEBEBE;
    border-bottom: 0;
}
.isLogin_ul li:last-child{
    border-bottom: solid 1px #BEBEBE;
    background-color: #E4E4E4;
}
.isLogin_div{
    float: right;
    margin-right: 20px;
    height: 100%;
    position: relative;
}
.user_logo_span{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: solid 1px #C8C8C8;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
}
.user_logo_span img{
    width: 52px;
    height: 52px;
    margin:0 auto;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 50%;
}
.isLogin_div .user_name{
    height: 100%;
    /* line-height: 100%; */
    display: inline-block;
    float: left;
    line-height: 100px;
    margin-right: 9px;

}
.isLogin_div .user_dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 43px;
    float: initial;
    margin-left: 5px;
}
.daohang{
    width: 1002px;
    height: 65px;;
    margin: 0 auto;
    background-color:#f5f5f5;
}
.daohang p{
    height: 25px;
    color: rgba(160,160,160,1);
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 25px 0px 0px 25px;
    float: left;
    /*width: 170px;*/
    display: block;
    text-indent: 30px;
    background: url(../../assets/img/user_center_biao.png) no-repeat 0px 0px;
}
.mycart-rrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    border-width: 11px;
    position: absolute;
    right: 35px;
    top: 68px;
    display: none;
    z-index: 10;
}
.mycart-ul {
    background-color: #ffffff;
    color: #a6a6a6;
    position: absolute;
    top: 90px;
    right: 0;
    padding: 0 10px;
    width: 120px;
    line-height: 46px;
    font-size: 14px;
    display: none;
    z-index: 100;
    text-align: center;
    border:  solid 1px #E0DFDF;;
}
.mycart-ul li {
    height: 40px;
    border-bottom: solid 1px #E0DFDF;

}
.mycart-ul li:last-child{
    border: 0;
}


.pagecount {
    width: 1000px;
    margin: 0px auto 20px auto;
    height: 80px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background-color: #FFFFFF;
}
.pagecount .list{
    float: right;;
    margin-top: 20px;
}
.pagecount span {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 2px;
    color: #737171 !important;
    padding: 0 8px;
    /*border: 1px solid #d3d3d3;*/
    /*background: #f7f7f7;*/
}
.pagecount span a{
    color: #737171 !important;

}
.pagecount span input{
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.pagecount span.cur {
    font-weight: bold;
    color: #f30;
}